<%- include('partials/header', {title:"Index"}) -%>

    <body>
      <h2> digital art </h2>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
      <script src="art/one.js"></script>

    </body>




<%- include('partials/footer') -%>
